[mysqld]
datadir=/usr/src/app/docker/db
socket=/usr/src/app/docker/db/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
innodb_buffer_pool_size = 1G
init_connect='SET collation_connection = utf8_unicode_ci'
character-set-server = utf8
collation-server = utf8_unicode_ci
sql-mode = NO_ENGINE_SUBSTITUTION

[mysqld_safe]
log-error=/usr/src/app/docker/db/mysqld.log
pid-file=/usr/src/app/docker/db/run/mysqld/mysqld.pid

[client]
default-character-set = utf8
